.parlour{
    /* margin: 0px;
    padding: 0px;
    box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
  }

  .parlour h1{
    font-size: 90px;
  font-weight: 900;
  background-image: url(https://images.unsplash.com/photo-1549490349-8643362247b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHB1cnBsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60/rockets.png);
  background-size: 250px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  }

  .ice_cream_search{
    margin-top: 18px;
    margin-bottom: 18px;

  }

  .ice_cream_input{
    padding: 6px, 16px;
    max-width: 100vw;
    font-size: 15px;
  }

 