.submit_input{
    padding: 6px, 16px;
    font-size: 15px;
    margin-left: 6px;
    background-color: violet;
    border: 2px solid blue;
    border-radius: 5px;
    color: brown;
    cursor: pointer;

  }

  .submit_input:hover{
    padding: 6px, 16px;
    font-size: 15px;
    margin-left: 6px;
    background-color: gold;
    border: 2px solid blue;
    border-radius: 5px;
    color: brown;
    cursor: pointer;

  }